@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: whitesmoke;
    font-family: "Courier New", monospace;
}

.nav-link:hover {
    text-shadow: 0 0 10px violet;
}